body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#delbtn{
  background-color: red;
}
#delbtn:hover{
  text-decoration: underline;
}

button{
  background-color: lightgray;
  border: 2px black solid;
  /* margin-left: 5%;
  margin-right: 5%;
  padding: 3%; */
}

button:hover{
  /* margin: 5%; */
  /* padding: 5%; */
  background-color: lightblue;
}

a{
  color: black;
}

